* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  font-family:Lucida;
  font-size: medium;
 }

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}